<h1><%= t('views.common.title_edit', name: User.model_name.human) %></h1>

<%= render 'form', user: current_user %>

<%= link_to t('views.common.show'), @user %> |
<%= link_to t('views.common.back'), users_path %>
