<h1><%= t('common.views.title.edit', model: Book.model_name.human) %></h1>

<%= render 'form', book: @book %>

<%= link_to t('common.actions.show'), @book %> |
<%= link_to t('common.actions.back'), books_path %>
